.table {

    width: 90vw;
    min-width: 1024px;

    &__controls {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }
}

.indicator {

    &__ancor {
        position: relative;
        height: 0;
    }

    &__container {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 2;
    }

    &__error-message {
        text-align: end;
        font-size: 1em;
        color: red;
    }
}
